

.journal-item { 
    a { 
        text-decoration:  none;
        &:hover { 
            color: map-get($theme-colors, "coral" )
        }
    }
    img { 
       max-height: 350px;  
    }
    p { 
        padding-top: 35px;
        padding-bottom: 8px;
        margin-bottom: 0;
        a { 
            font-size: 0.9rem;
            color: #888; 
        }
    }
    .post-name  { 
        font-size: 1.25rem;
        color: #000;
        font-weight: 600;
        margin-bottom: 30px;
    }
    .post-name-line { 
        position: relative;
        display: block;
        &::after { 
            content: "";
            width: 100%;
            height: 1px;
            background: #e1e1e1;
            display: block;
            position: absolute;
            bottom: -30px;
        }
    }
    div { 
        padding-top: 30px;
        padding-bottom: 30px;
        span { 
            padding-right: 15px ;
            i {  padding-right: 8px ; }
             a { color: #888; 
             font-size: 0.8rem; } 
        }
    }
    
}