
.popular { 
    img {  
        max-width: 260px !important;
        max-height: 340px !important;
    }
}
.text-aling-center { 
    text-align: center;
}
.hover-block-popular { 
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    a { 
        text-decoration: none;
        display: inline-block; 
        color: #000;
        font-size: 1rem;
        padding: 1rem;
        margin: 30px 8px;
        background: rgb(255, 255, 255);
        box-shadow: #414141 0 2px 5px;
        border-radius: 3rem;
        

        transition: 200ms cubic-bezier(1,.34,.26,1.23) ;
        
        &:hover { 
            transition:200ms;
            background:  map-get($theme-colors , "coral" );
            color: #fff;
            
            
           
        }
        // &:first-child { 
        //     transition-delay: 100ms;
        //     transform: translateY(70px) translateX(30px);
        // } 
        // &:last-child { 
        //     transition-delay: 250ms;
        //     transform: translateY(70px) translateX(-30px);
        // }
        // &:nth-child(2) { 
        //     transition-delay: 175ms; 
        //     transform: translateY(70px) translateX(0);
        // }
    }
}
@media screen and ( min-width: 999px) { 
   .hover-block-popular { 
    position: absolute;
    bottom: 0;
    width: 100%;
    
    a { 
        text-decoration: none;
        display: inline-block; 
        color: #000;
        font-size: 1rem;
        margin: 0;
        padding: 20px;
        background: rgb(255, 255, 255);
        box-shadow: #414141 0 2px 5px;
        border-radius: 3rem;
        

        transition: 200ms cubic-bezier(1,.34,.26,1.23) ;
        
        &:hover { 
            transition:200ms;
            background:  map-get($theme-colors , "coral" );
            color: #fff;
            
            
           
        }
        &:first-child { 
            transition-delay: 100ms;
            transform: translateY(70px) translateX(30px);
        } 
        &:last-child { 
            transition-delay: 250ms;
            transform: translateY(70px) translateX(-30px);
        }
        &:nth-child(2) { 
            transition-delay: 175ms; 
            transform: translateY(70px) translateX(0);
            }
        }
}
    .picture-conteiner { 
    
        &:hover { 
            
            .hover-block-popular { 
                a { 
                    transform: translateY(-30px);
                    &:first-child { 
                        transform: translateY(-30px) translatex(-10px)
                    }
                    &:last-child { 
                        transform: translateY(-30px) translatex(10px)
                    }
                }
                
            } 
        } 
    }
}